# -*- mode: yaml -*-
# vim: set filetype=yaml tabstop=4 shiftwidth=4 autoindent smartindent:
site_name: "Is Christ True?"
site_url: https://ischristtrue.com/
site_description: "Is Christ True?"
site_author: RS Christopher
docs_dir: src
site_dir: docs
dev_addr: 127.0.0.1:7000
copyright: Uncopyright &copy; 2023-2025 ~ R.St. Christopher
extra:
    generator: false
theme:
    name: material
    features:
        - navigation.indexes
        - navigation.instant
        - navigation.footer
        - navigation.sections
        - navigation.tabs
        - navigation.top
    palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: yellow
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    logo: images/christ-logo-w.png
    favicon: images/favicon.png

nav:
    - About: 
        - index.md
        - Nature of Truth: truth.md
        - Who is Christ?: who-is-christ.md
    - Modern Views:
        - modern-views/index.md
        - Christianity: modern-views/christianity.md
        - Ecumenism: modern-views/ecumenism.md
        - Enlightenment: modern-views/enlightenment.md
        - Free Will: modern-views/free-will.md
        - Justification: modern-views/justification.md
        - Millennialism: modern-views/millennialism.md
        - Money and Wealth: modern-views/money-wealth.md
        - Morality: modern-views/morality.md
        - Nihilism: modern-views/nihilism.md
        - Problem of Evil: modern-views/problem-of-evil.md
        - Puritans: modern-views/puritans.md
        - Schisms: modern-views/schisms.md
        - Socialism: modern-views/socialism.md
        - Spiritualism: modern-views/spiritualism.md
        - Syncretism: modern-views/syncretism.md
    - Ancient Views:
        - ancient-views/index.md
        - Angels and Demons: ancient-views/angels-demons.md
        - Antichrist: ancient-views/antichrist.md
        - Apocrypha: ancient-views/apocrypha.md
        - Cosmology: ancient-views/cosmology.md
        - Creation: ancient-views/creation.md
        - Death: ancient-views/death.md
        - Didache: ancient-views/didache.md
        - Essence-Energies: ancient-views/essence-energies.md
        - Fall of Man: ancient-views/fall.md
        - Filioque: ancient-views/filioque.md
        - Iconoclasm: ancient-views/iconoclasm.md
        - Mediation: ancient-views/mediation.md
        - Metanoia: ancient-views/metanoia.md
        - Mysteries: ancient-views/mysteries.md
        - Order and Chaos: ancient-views/order-chaos.md
        - Prelest: ancient-views/prelest.md
        - Prophecy: ancient-views/prophecy.md
        - Redemption: ancient-views/redemption.md
        - Salvation: ancient-views/salvation.md
        - Sin: ancient-views/sin.md
        - Tradition: ancient-views/tradition.md
    - Logos:
        - logos/index.md
        - Kenosis:
          - "1: Annunciation": logos/1-annunciation.md
          - "2: Nativity": logos/2-nativity.md
          - "3: Baptism": logos/3-baptism.md
          - "4: Temptations": logos/4-temptations.md
          - "5: Early Ministry": logos/5-early-ministry.md
          - "6: Galilean Ministry": logos/6-galilean-ministry.md
          - "7: Sermon on the Mount": logos/7-sermon-on-the-mount.md
          - "8: Miracles and Mission": logos/8-miracles-mission.md
          - "9: Transfiguration": logos/9-transfiguration.md
          - "10: Later Ministry": logos/10-later-ministry.md
          - "11: Triumphal Entry": logos/11-triumphal-entry.md
          - "12: Holy Week": logos/12-holy-week.md
          - "13: Crucifixion": logos/13-crucifixion.md
          - "14: Harrowing of Hades": logos/14-harrowing.md
        - Exultation:
          - "15: Resurrection": logos/15-resurrection.md
          - "16: Ascension": logos/16-ascension.md
          - "17: Dormition": logos/17-dormition.md
          - "18: Coronation": logos/18-coronation.md
          - "19: Church Age": logos/19-church-age.md
          - "20: Second Coming": logos/20-second-coming.md
          - "21: Final Judgment": logos/21-final-judgment.md
    - References: 
        - references/index.md

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables
  - toc:
      permalink: True
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

