:root {
  --md-admonition-icon--cross: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 1h4v8h8v4h-8v10h-4V13H2v-4h8V1z"/></svg>');
}

.md-typeset .admonition.cross,
.md-typeset details.cross {
  border-color: rgb(201, 162, 39);
}

.md-typeset .cross > .admonition-title,
.md-typeset .cross > summary {
  background-color: rgba(201, 162, 39, 0.12);
}

.md-typeset .cross > .admonition-title::before,
.md-typeset .cross > summary::before {
  background-color: rgb(201, 162, 39);
  -webkit-mask-image: var(--md-admonition-icon--cross);
          mask-image: var(--md-admonition-icon--cross);
}